body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

nav {
  background-color: rgb(199, 194, 194);
}

.navh1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  word-spacing: 2px;
  text-align: center;
}

form div {
  margin: 1em;
  display: inline-block;
}
